*{
    margin: 0;
    padding: 4px 0px;
}
body{
    background-color: rgb(216, 213, 213);
}

@media only screen and (max-width:850px) {
    

.match-container{
        height: 20%;
        margin: 5px 10px;
        border-radius: 10px;
        border: 0.5px solid #fff;
        background-color: #fff;
        padding-top: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 4px;
        cursor: pointer;
}

.match-name{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notification-bell-container{
    
}

.notification-bell{
    border-radius: 8px;
    padding: 0vw 2vw;
    border: none;
    
}

.hr{
    width: inherit;
    padding: 0vw 25vw;
}

.p{
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 255, 255);
    font-size: 4.5vw;
    padding: 3px;

}

.teams-countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team1-container{
    height: 50%;
    width: 35%;
    /* background-color: rgb(249, 141, 141); */
    align-content: end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-container{
    height: inherit;
    width: inherit;
    border-radius: 50%;
    align-content: center;
}

.team1-image{
    height: 100%;
    width: 100%;
}

.team1-name-container{
    color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    padding-top: 15%;
    
}

.countdown-container{
    height: 50%;
    width: 20%;
    padding: 4vw 5vw 2vw 5vw;
}

#countdown{
    font-size: 3vw;
}

.match-date{
    font-size: 2.5vw;
}
.team2-container{
    height: 50%;
    width: 35%;
    /* background-color: rgb(249, 141, 141); */
    align-content: end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.team2-image{
    height: 80%;
    width: 80%;
}

.team2-name-container{
    color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    padding-top: 15%;
    
}

.team2-image-container{
    padding-top: 3%;
    margin-left: 3%;
}



}